---
layout: default
---
{% if site.pages.size > 0 %}
    {% for webpage in site.pages %}
        {% if webpage.title %}
        {% if webpage.title != "About" %} 
            <article class = "tiles">
                <h3>
                    <a href = "{{webpage.url}}">
                        {{webpage.title}}
                    </a>
                </h3>
            </article>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

<main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
</main>


    